.QueryElements-form {
    width: 500px;
    clear: both;
}   

.QueryElements-form input {
    width: 100%;
    clear: both;    
}

.QueryElements-form .DateRangePicker {
    padding-left: 100px;
    z-index: 20;
}

.QueryElements-form .TimeFilter { 
    padding-left: 100px;
}